<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="{{ url_for('add_data') }}">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=20) }}
            {% if form.date.errors %}
                <ul>
                {% for error in form.date.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
    
        <p>
            {{ form.energy_usage.label }}<br>
            {{ form.energy_usage(size=20) }}
            {% if form.energy_usage.errors %}
                <ul>
                {% for error in form.energy_usage.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
    
        <p>
            {{ form.energy_type.label }}<br>
            {{ form.energy_type() }}
            {% if form.energy_type.errors %}
                <ul>
                {% for error in form.energy_type.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
        
    
        <p>{{ form.submit() }}</p>
    </form>
    

</body>
</html>

